<p>
    Hi <span><%= reset_pass_token.user.username%></span>!
    <br>
    <br>
    <br>
    Your password reset link : <span>http://localhost:8000/password_reset/<%= reset_pass_token.accesstoken %></span>
</p>