
            <p>
                <%= comment.content %>
                <br>
                <small>
                    <%= comment.user.username %>
                </small>
                <br>
                <% if(locals.user && locals.user.id == comment.user.id) {%> 
                <small>
                    <a href="/comments/destroy/<%= comment.post._id %>/<%= comment.id%>" style="color: blue;">Delete Comment</a>
                </small>
                <%}%>
            </p>


