<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
   
   <i class="fa fa-copyright" aria-hidden="true"></i> <span>Coding Ninjas All Rights Reserved.
   </span>
       <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users/profile">Profile</a></li>
       </ul> 
    
</footer>