<header>
    This is the header

    <ul>
        <% if(locals.user) {%>
            <li>
                <a href="/users/profile"><%= user.username %></a>
                
            </li>
            <li>
                <a href="/users/log-out">Log Out</a>
            </li>

        <%} else {%>
            <li>
                <a href="/users/log-in">Log In</a>
            </li>
            <li>
                <a href="/users/sign-up">Sign Up</a>
            </li>
            
        <%} %>    
    </ul>
</header>