<link rel="stylesheet" href="/css/chatbox.css">

<% if(locals.user){%>
<div id="container-chat">
    <ul id="container-messages">
        <li class="message " id="other-message">
            Hi
        </li>
        <li class="message " id="user-message">
            Hi :) 
        </li>
        <li class="message " id="user-message">
            Hi :) 
        </li>
    </li>

    <div id="container-send-messages">
        <input type="text" placeholder="Type message here.." id="message">
        <button id="sendBtn">Send</button>
    </div>

</div>
<% } %>