<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
    <% if(locals.user){%>
    <section id="feed-posts">
        <h4>Posts</h4>
        <form action="/posts/create" method="post" id="new-post-form">
            <textarea name="content" cols="30" rows="3" placeholder="Type here..." required></textarea>
            <input type="submit" value="Post">
        </form>
    </section>
    <%}%>
        
        <section id="posts-wall" >
            <ul>
                <% for(post of Posts){ %>
                <%- include('_post') %>
                <hr>
                <% } %>
            </ul>
        </section>
        
        <section id="user-friends">
            <h4>Friends</h4>
            <% for(u of all_users){%>
                <p>
                    <a href="/users/profile/<%= u.id %>" style="color:blue;"><%= u.username %></a>
                </p>

            <%}%>
        </section>
</div>
<script src="/js/home_posts.js"></script>