<link rel="stylesheet" href="/css/form.css">

<form method="POST" action="/users/loginS">
    <div id="username">
    <label for="username">UserName:</label>
    <input type="text" required name="username"><br>
    </div>
    <div id="password">
    <label form="password">Password:</label>
    <input type="password" required name="password">
    </div>    
    <button type="submit">LogIn</button>



</form>
