<link rel="stylesheet" href="/css/form.css">

<h2>Log In</h2>
<form method="POST" action="/users/create-session">
    
    
    <input type="email" required name="email" placeholder="Enter your email:">
    
    
    
    <input type="password" required name="password" placeholder="Enter your password:">
    
    <button type="submit">LogIn</button>



</form>
<p>
    <a href="/users/auth/google">Google Sign-In/Sign-Up</a>
</p>
