<link rel="stylesheet" href="/css/form.css">

<form method="POST" action="/users/signupS">

    <label for="username">UserName:</label>
    <input type="text" required name="username">
    <label form="password">Password:</label>
    <input type="password" required name="password">



</form>