<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Codeial / Profile Page
</h1>
<%  if(User.email!=null && User.username!=null) {%>
    <ul>
        <li>
            <%= User.email %>
        </li>
        <li>
            <%= User.username %>
        </li>
    </ul>
<%}%>
<form action="/users/log-out" method="post">
    <button type="submit">Log Out</button>
</form>
