header{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    background-color: blue;
    color: white;
    justify-content: space-between;
    
    li {
        display: inline-flex;
        
       
    }
    
}
a{
    color:white;
    text-decoration: none;
    
}