body{
    /* text-align: center; */
    margin: 0;
}

#like-post{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    height: 10%;
    background-color: azure;
}