<div>
    <p>
        
        Hi! <span><%= comment.user.username %></span>
        <br>
        <br>
        Your comment <strong><%= comment.content %></strong> just published on post 
        <br>
        <br>
        Thanks!
    </p>
</div>