#posts-wall {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  align-items: stretch; }

#post {
  font-family: cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: auto;
  border: 1px solid black;
  z-index: 0;
  background-color: seashell;
  padding: 1%; }
  #post #user_name {
    margin-bottom: 2%; }
  #post #post-content {
    margin-bottom: 2%; }

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 20%; }
